<header class="header">
    <div class="logo-area">
        <div class="logo-circle">M</div>
        <div>
            <h2>Missões</h2>
            <span>Do BRASIL para o MUNDO </span>
        </div>
    </div>
    <!-- Botão hamburguer -->
    <button class="menu-toggle" id="menuToggle">☰</button>
    <!-- Menu -->
    <nav class="menu" id="menu">
        <a href="index.html" class="active">Home</a>
    <!--<a href="admin.html">ADM</a>--> 
        <a href="noticias.html">Noticias</a>
        <a href="galeria.html">Galeria</a>
        <a href="doacao.html">Doação</a>
        <a href="contato.html">Contato</a>
    </nav>
</header>
<!-- Overlay (criado no JS se não existir) -->